<div class="container mt-5">

    <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    
    <form [formGroup]="userForm" (ngSubmit)="userSubmit()" >
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="id" placeholder="Enter your ID">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="fullname" placeholder="Enter Full Name">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="email" placeholder="Enter Email Id">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number">
        </div>

        <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()">
            <button class="btn btn-primary btn-small">Create</button>
        </div>

        <div class="col-lg-4 mt-2" *ngIf="getparamid" (click)="updateUser()">
            <button class="btn btn-dark btn-small">Update</button>
        </div>
    </form>
</div>

